:root{
  --mainDark: #212529;
  --mainGrey: #3c4550c6;
  --mainLightGrey: #rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
  --mainGreen: #04a11e;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.container-reg{
  width: 50%;
  height: 100%;
  
}